<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/index.css" rel="stylesheet">
</head>

<body>
<div class="box">

    <h1>Contact us</h1>

    <form class="box-form"
          method="post" action="#" th:action="@{/}" th:object="${request}">

        <label>Kind of Request</label>
        <select th:field="*{requestType}">
            <option th:each="request_type: ${request_types}"
                    th:text="${request_type.requestType}"
                    th:value="${request_type.id}">
            </option>

        </select>

        <label>Policy Number</label>
        <input type="text" placeholder="Policy Number"  required
               th:field="*{policyNumber}">
        <div th:if="${#fields.hasErrors('policyNumber')}" th:errors="*{policyNumber}" class="validation_errors"/>

        <label>Name</label>
        <input type="text" placeholder="Name" required th:field="*{name}" >
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation_errors"/>

        <label>Surname</label>
        <input type="text" placeholder="Surname" required th:field="*{surname}">
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="validation_errors"/>

        <label>Your Request</label>
        <textarea type="text" rows=15 placeholder="Your request.." required th:field="*{requestMessage}">
        </textarea>
        <div th:if="${#fields.hasErrors('requestMessage')}" th:errors="*{requestMessage}" class="validation_errors"/>

        <button type="submit">Submit Request</button>
    </form>
</div>

</body>

</html>