<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/index.css" rel="stylesheet">
</head>

<body>
<div class="box">

    <h1>Contact us</h1>

    <form class="box-form" action="">

        <label>Kind of Request</label>
        <select>
            <option th:each="request_type: ${request_types}"
                    th:text="${request_type.requestType}"
                    th:value="${request_type.id}">
            </option>

        </select>

        <label>Policy Number</label>
        <input type="policy-number" placeholder="Policy Number" required pattern=([0-9]){6,}>

        <label>Name</label>
        <input type="name" placeholder="Name" required pattern=([A-zÀ-ž]){2,}>

        <label>Surname</label>
        <input type="surname" placeholder="Surname" required pattern=([A-zÀ-ž]){2,}>

        <label>Request</label>
        <textarea type="request-body" rows=15 placeholder="Your request.." required pattern={15,500}>
        </textarea>

        <button type="submit">Submit Request</button>
    </form>
</div>

</body>

</html>