<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/index.css" rel="stylesheet">
</head>

<body>
<div class="box">

    <h1>Contact us</h1>

    <form class="box-form" action="">
        <label>Kind of Request</label>
        <select name="" id=""></select>

        <label>Policy Number</label>
        <input type="policy-number" placeholder="Policy Number">

        <label>Name</label>
        <input type="name" placeholder="Name">

        <label>Surname</label>
        <input type="surname" placeholder="Surname">

        <label>Request</label>
        <textarea type="request-body" rows=15 placeholder="Your request.."/>

        <button type="submit">Submit Request</button>
    </form>
</div>

</body>

</html>